{% extends 'base.html' %}
{% load static %}

{% block title %}Simple Newspaper{% endblock title %}

{% block content %}

        {% for article in object_list %}

            <div class="card mb-4">

                <!-- Header -->
                <div class="card-header" >
                    <h5 class="article-title no-margin">
                        <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>
                    </h5>
                </div>

                <!-- Body -->
                <div class="card-body">

                    <!-- Image -->
                    <a href="{% url 'article_detail' article.pk %}">
                        <img  class="image-list" src="{{ article.image.url }}" alt="Article image">
                    </a>

                    <!-- Meta -->
                    <p>
                        <span class="text-muted">
                            Written by {{ article.author }} ({{ article.date }})
                            &middot;
                            {{ article.comments.count }} comment{{ article.comments.count|pluralize }}
                        </span>

                        <!-- Show edit/delete links if user is the author -->
                        {% if user == article.author %}
                            &middot;
                            <a href="{% url 'article_edit' article.pk %}">Edit</a>
                            &middot;
                            <a href="{% url 'article_delete' article.pk %}"><span class="text-danger">Delete</span></a>
                        {% endif %}

                    </p>

                    <!-- Excerpt -->
                    <p class="card-text">{{ article.body|slice:":640" }}...</p>


                </div>


            </div>

        {% endfor %}





{% endblock content %}