{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card mb-5">
        <div class="article-entry">

            <div class="card-header" >
                <h3 class="article-title">{{ object.title }}</h3>
                {{ object.author }} &middot; {{ object.date }}
            </div>

            <div class="card-body">
                {{ object.body|linebreaksbr }}<br />

                <!-- Show edit/delete links if user is the author -->
                {% if user == article.author %}
                    <a class="btn btn-outline-info mr-4 mt-4 mb-2" href="{% url 'article_edit' article.pk %}">Edit article</a>
                    <a class="btn btn-outline-danger mt-4 mb-2" href="{% url 'article_delete' article.pk %}">Delete article</a>
                {% endif %}
            </div>

            <div class="card-footer text-muted bg-light">

                <!-- Add comment button -->
                <a class="btn btn-outline-primary mt-2 mb-3" href="{% url 'add_comment_to_article' pk=article.pk %}">Add comment</a>

                <!-- Number of comments -->
                <p>{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</p>

                <!-- Comments themselves -->
                {% for comment in article.comments.all %}
                    <p class="text-muted"><strong>{{ comment.author }}</strong> &middot; {{ comment }}</p>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock content %}