{% extends 'base.html' %}

{% block content %}

    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.author }} &middot; {{ object.date }}</p>
        <p>{{ object.body }}</p>

        <!-- Show edit/delete links if user is the author -->
        {% if user == article.author %}
            <p>
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a>
            </p>
        {% endif %}

        <!-- Display all comments associated with article -->
        {% for comment in article.comments.all %}
            <p>{{ comment.author }} &middot; {{ comment }}</p>
        {% endfor %}

        <!-- Link to add a new comment -->
        <p><a href="{% url 'comment_new' article.pk %}">New comment</a></p>

        <!-- Link to article list view -->
        <p><a href="{% url 'article_list' %}">Back to all articles</a></p>

    </div>



{% endblock content %}