{% extends 'base.html' %}

{% block content %}
    <div class="card mb-4">
        <div class="article-entry">

            <div class="card-header bg-light" >
                <h3>{{ object.title }}</h3>
                {{ object.author }} &middot; {{ object.date }}
            </div>

            <div class="card-body">
                {{ object.body|linebreaksbr }}<br />

                <!-- Show edit/delete links if user is the author -->
                {% if user == article.author %}
                    <a class="btn btn-outline-info mr-4 mt-4 mb-2" href="{% url 'article_edit' article.pk %}">Edit article</a>
                    <a class="btn btn-outline-danger mt-4 mb-2" href="{% url 'article_delete' article.pk %}">Delete article</a>
                {% endif %}
            </div>

            <div class="card-footer text-muted pb-4">

                <!-- Add comment button -->
                <a class="btn btn-outline-primary my-2" href="{% url 'add_comment_to_article' pk=article.pk %}">Add comment</a>

                <!-- Number of comments -->
                <p><strong>{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</strong></p>

                <!-- Comments themselves -->
                {% for comment in article.comments.all %}
                    <p class="text-muted">{{ comment.author }} &middot; {{ comment }}</p>
                {% endfor %}

                <!-- Link to article list view -->
                <a class="btn btn-outline-primary mt-2" href="{% url 'article_list' %}">Back to all articles</a>
            </div>

        </div>
    </div>
{% endblock content %}